/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.app-container {
  width: 360px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
}

header {
  text-align: center;
  padding: 15px;
  background: #007bff;
  color: #fff;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
}

.user-info {
  text-align: center;
  flex-grow: 1;
}

.user-info h1 {
  margin: 0;
  font-size: 18px;
}

.user-info p {
  margin: 0;
  font-size: 14px;
}

main {
  padding: 15px;
}

.physiotherapy-section {
  text-align: center;
}

.physiotherapy-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.physiotherapy-section p {
  font-size: 14px;
  color: #555;
  margin-bottom: 16px;
}

.button-container {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.button {
  display: block;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 8px;
  font-size: 14px;
  width: 120px;
  text-align: center;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-info {
  font-size: 16px;
}

.button-container-volver {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 2%;
}